<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>30303906353-ag1csuddd0c7eunq17ekpho2as4g7ulb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30303906353-ag1csuddd0c7eunq17ekpho2as4g7ulb</string>
	<key>API_KEY</key>
	<string>AIzaSyA62AB-A1Zh_R0aw5p0JJ06sxfHVHVvnuM</string>
	<key>GCM_SENDER_ID</key>
	<string>30303906353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vn.entergroup.gearshop</string>
	<key>PROJECT_ID</key>
	<string>shopgear-cc1dc</string>
	<key>STORAGE_BUCKET</key>
	<string>shopgear-cc1dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30303906353:ios:d7b954f16384aaee</string>
	<key>DATABASE_URL</key>
	<string>https://shopgear-cc1dc.firebaseio.com</string>
</dict>
</plist>